<%- include('./part/head.ejs') %>
<html>

    <body>
        <%- include('./part/nav.ejs') %>
    
        <main>
            <div class="container">
                <div class="row justify-content-center">
            <div style="margin: 0 auto;" class="col-md-6  mt-5 text-center">

                <form class="login-form" action="/new-password" method="POST">
                    <div class="">
                       
                        <input placeholder="Password" type="Password" class="form-control" name="password" id="password">
                    </div>
                    <input type="hidden" name="userId" value="<%= userId %>">
                    <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                    <input type="hidden" name="_csrf" >
                    <button class="btn button button-secondary" type="submit">Update Password</button>
                </form>
            </div>
                </div>
            </div>
        </main>

        <%- include('./part/script.ejs') %>
    </body>

</html>